services:
  db:
    image: mysql
    container_name: capstone
    restart: no
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./src/main/resources/sql/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./src/main/resources/sql/provinces.sql:/docker-entrypoint-initdb.d/02-provinces.sql
      - ./src/main/resources/sql/districts.sql:/docker-entrypoint-initdb.d/03-districts.sql
      - ./src/main/resources/sql/cinema.sql:/docker-entrypoint-initdb.d/04-cinema.sql
      - ./src/main/resources/sql/cinema-provinces.sql:/docker-entrypoint-initdb.d/05-cinema-provinces.sql
      - ./src/main/resources/sql/branch.sql:/docker-entrypoint-initdb.d/06-branch.sql
      - ./src/main/resources/sql/user.sql:/docker-entrypoint-initdb.d/07-user.sql
      - ./src/main/resources/sql/movie.sql:/docker-entrypoint-initdb.d/08-movie.sql
      - ./src/main/resources/sql/branch-movie.sql:/docker-entrypoint-initdb.d/09-branch-movie.sql
      - ./src/main/resources/sql/hall.sql:/docker-entrypoint-initdb.d/10-hall.sql
      - ./src/main/resources/sql/seat-type.sql:/docker-entrypoint-initdb.d/11-seat-type.sql
      - ./src/main/resources/sql/seat.sql:/docker-entrypoint-initdb.d/12-seat.sql
    env_file:
      - .env.properties
    ports:
      - 3306:3306
    profiles: [ database ]
